<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>BoatSpot</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Load the tag library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% bootstrap_javascript %}
  </head>
  <body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              {% if user.is_authenticated %}
              <li>Hello {{ user.first_name }} {{ user.last_name }}</li>
              {% if user.is_staff %}
              <li><hr /></li>
              <li><a href="{% url 'api-docs' %}">OpenAPI</a></li>
              {% endif %}
              {% endif %}
              <li><a href="{% url 'web:home' %}">Home</a></li>
              <li><a href="{% url 'web:privacy' %}">Privacy</a></li>
              <li><a href="{% url 'web:imprint' %}">Imprint</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>